www.cityofdoral.com/files/assets/city/v/4/departments/finance/budget-docs/adopted-budget-fiscal-year-2025-2026.pdf filter=lfs diff=lfs merge=lfs -text
www.cityofdoral.com/files/assets/city/v/1/departments/public-works/master-plan-docs/2021-stormwater-master-plan-update.pdf filter=lfs diff=lfs merge=lfs -text
www.cityofdoral.com/files/assets/city/v/1/departments/procurement/2025-bid-docs/2025-21/2025-21-itb-doral-meadow-park-playground-renovation-exhibit-e-drawings.pdf filter=lfs diff=lfs merge=lfs -text
